.card{
    img{
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
    max-width: 100%;
    image-orientation: center;
    height:320px;
    box-shadow: 4px;
    }
}