<ion-header>
    <ion-navbar color="primary">
     <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
     <ion-searchbar (ionInput)="searching($event)"></ion-searchbar>  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="list-article">
    <ion-list>
  

      <!-- <ion-item-sliding *ngFor="let item of HistorySeltClothes"> -->
       <ion-item *ngFor="let item of HistorySeltClothes">
        
                  <h1>{{ item.Name }} </h1>
                  <h2>Date : {{ item.Selt_Date }}</h2>
                  <h2>Total selt : {{ item.Selt_price }} €</h2>
        </ion-item>
             
      <!-- </ion-item-sliding> -->
      
  </ion-list>
  
  </ion-content>