<ion-header>
    <ion-toolbar>
      <ion-title>
        SellData
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
   
    <h3>Salut je suis SellData</h3>
   <!-- <p> {{ value }} </p>
    <p> {{ item.Quantity }} </p>
   -->
   <p> Select the quantity of each size you may want </p>
   
   <ion-item>
   <ion-label>Select quantity of size S</ion-label>
   <ion-select [(ngModel)]="takeSelection.selectedSize_S" (ngModelChange)="setWanted_SizeS()" required>
      <ion-option *ngFor="let sizeS of TotalSize_S" [value]="sizeS">{{ sizeS }}</ion-option>
    </ion-select>
  </ion-item>
   
  <ion-item>
   <ion-label>Select quantity of size M </ion-label>
    <ion-select [(ngModel)]="takeSelection.selectedSize_M" (ngModelChange)="setWanted_SizeM(sizeM)" required>
       <ion-option *ngFor="let sizeM of TotalSize_M" [value]="sizeM">{{ sizeM }}</ion-option>
     </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select quantity of size L </ion-label>
      <ion-select [(ngModel)]="takeSelection.selectedSize_L" (ngModelChange)="setWanted_SizeL(sizeL)" required>
        <ion-option *ngFor="let sizeL of TotalSize_L" [value]="sizeL">{{ sizeL }}</ion-option>
       </ion-select>
      </ion-item>

   <button ion-button color="secondary" (click)="sellActions()">Sell</button>

   <p>Total to pay : {{ TotalToPay }}</p>
  </ion-content>
  