.list-article{
    ion-note{
        font-size: 15px;
        align-self: flex-start;
        margin-top: 14px;
    }

    ion-avatar{
        font-size: 25px;
        align-self: flex-start;
        margin-top: 14px;
    }
}